
@keyframes in_x {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@utility animate-in-x-* {
  @apply opacity-0;
  animation: in_x 0.7s ease forwards;
  animation-delay: --value(integer)ms;
}

@keyframes in_y {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@utility animate-in-y-* {
  @apply opacity-0;
  animation: in_y 0.7s ease forwards;
  animation-delay: --value(integer)ms;
}