@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300;1,400;1,700;1,900&amp;display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;500;600;700&amp;display=swap");
@import "tailwindcss";
@tailwind utilities;
@import "./theme.css";

body {
  color: #4f5d77;
  font-family: var(--font-lato);
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Spartan", sans-serif;
  color: #222222;
  font-weight: 600;
  line-height: 1.2;
}

input[type='text'],input[type='email'],input[type='password']{
  height: 40px;
  width: 100%;
  padding: 0 15px;
  border: 1px solid var(--color-neutral-200);
  border-radius: var(--radius-input-border);
  outline: none;
  transition: all 0.3s ease;
}

input:focus{
  border-color: var(--color-primary-300);
}

label{
  color: var(--color-neutral-400);
  font-size: 12px;
  font-weight: 200;
  margin-bottom: 4px;
  margin-left: 5px;
}

button{
  background-color:  var(--color-teal-600);
  color: var(--color-button-text);
  padding: 8px 0;
  border-radius: var(--radius-input-border);
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover{
  color: white;
  background-color:  var(--color-teal-700);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
