
/* navbar */
.nav-account-dropdown{
  transition: all 0.3s ease;
  transform: translateY(-10px);
}

.account-nav:hover .nav-account-dropdown{
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.menu-indicator{
  transition: all 0.3s ease;
  transform: translateY(-5px);
  opacity: 0;
  position: absolute;
  bottom: -3px;
  border-radius: 10px;
}

.nav-menu-item{
  cursor: pointer;
  position: relative;
}

.nav-menu-list{
  transition: all 0.3s ease;
  transform: translateY(-10px);
  visibility: hidden;
  opacity: 0;
}

.account-nav:hover .menu-indicator, .nav-menu-item:hover .menu-indicator, .nav-menu-item:hover .nav-menu-list{
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

/* admin add user */
.hidden-div{
  @apply opacity-0 invisible smooth -translate-y-2.5
}

.hidden-div.show{
  @apply opacity-100 visible translate-y-0
}

.loader{
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
}

.loader.display{
  visibility: visible;
  opacity: 1;
}

.react-datepicker__navigation--next:hover, .react-datepicker__navigation--previous:hover{
  background-color: transparent !important;
  box-shadow: none !important;
}

.react-datepicker__day--selected{
  @apply bg-primary-300!
}

.react-datepicker__header{
  @apply bg-primary-25!
}