@theme{
  --font-lato: "Lato", sans-serif;
  --font-spartan: "Spartan", sans-serif;

  --color-primary-25: oklch(0.99 0.0379 140.41);
  --color-primary-50: oklch(0.94 0.0379 157.41);
  --color-primary-100: oklch(0.9436 0.0274 188.22);
  --color-primary-200: oklch(90% 0.1065 188.73);
  --color-primary-300: oklch(75% 0.1065 188.73);
  --color-primary-400: oklch(60% 0.1065 188.73);
  --color-primary-500: oklch(45% 0.1065 188.73);
  
  /* featured */
  --color-featured-300: oklch(0.7 0.1406 223.94);
  --color-featured-500: oklch(0.59 0.1406 223.94);

  --color-button-text: oklch(97% 0 0);
  --color-error-border: oklch(0.88 0.191 22.216);
  --color-green-screen: oklch(0.72 0.0505 157.41);

  /* status colors */
  --color-status-green: oklch(0.72 0.0505 157.41);
  --color-status-red: oklch(0.72 0.0505 157.41);
  --color-status-orange: oklch(0.72 0.0505 157.41);
  --color-status-yellow: oklch(0.72 0.0505 157.41);
  --color-status-blue: oklch(0.72 0.0505 157.41);

  --color-theme-divider: --alpha(var(--color-primary-300) / 30%);

  --radius-input-border: 10px;
  --text-slider-header-title: 22px
}

@utility scroll-none {
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility scroll-basic {
  &::-webkit-scrollbar{
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(76,196,187,0.2);
    transiton: all 0.3s;
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
  }
  &:hover{
    &::-webkit-scrollbar-thumb {
      background-color: rgba(76,196,187,0.6);
    }
  }
}

@layer base{
  label{
    @apply text-[12px] font-semibold leading-5
  }
}

@layer components{

  .text-title{
    @apply font-semibold
  }

  .modal-backdrop {
    @apply fixed inset-0 bg-black/30 flex items-center justify-center z-990
  }

  .modal-content {
    @apply bg-white p-6 rounded-4xl max-h-full flex flex-col overflow-y-auto z-1000
  }

  .nav-btn{
    @apply border bg-primary-50 border-primary-400/20 text-primary-400/60 p-1.5 rounded-full smooth
      hover:bg-primary-300 hover:text-white cursor-pointer z-150
  }

  .sale-icon{
    @apply p-1 rounded-xl cursor-pointer bg-primary-400 shadow-md border border-primary-400 text-gray-200 
    smooth hover:bg-white hover:text-primary-400 hover:border-primary-400 hover:shadow-md hover:scale-110
  }

  .lined-header-small{
    @apply relative border-b border-gray-300 text-base pb-2 mb-5
            after:content-[""] after:w-15 after:h-0.5 after:absolute 
            after:bottom-0 after:left-0 after:bg-primary-400
  }

  .menu-bg{
    @apply flex items-center cursor-pointer smooth
            border-gray-200 hover:bg-primary-25 text-sm
  }

  .review-progress{
    @apply bg-gray-200 grow text-xs inline-flex items-center relative 
        rounded-sm overflow-hidden text-white
      before:absolute before:content-[''] before:bg-primary-400 before:h-full before:rounded-sm
  }

  .placeholder-img::before {
    @apply content-[""] absolute inset-0 animate-pulse bg-gray-200 opacity-0 rounded-3xl
  }

  /* image preview */
  /* Skeleton loader */
  .easyPulseSkeleton {
    @apply rounded-sm relative overflow-hidden;
    mask-image: -webkit-radial-gradient(center, white, black);
    animation: pulse 2s ease-in-out 0.5s infinite;
  }

  /* Zoom container */
  .EasyZoomImageHoverMainContainer {
    @apply relative;
  }

  /* Magnified image container */
  .EasyZoomImageZoomHoverContainer {
    @apply overflow-hidden smooth;
  }

  /* Zoom lens */
  .easy-zoom-lens {
    @apply opacity-50 border border-gray-300 rounded-md 
      bg-[url('data:image/gif;base64,R0lGODlhZABkAPABAHOf4fj48yH5BAEAAAEALAAAAABkAGQAAAL+jI+py+0PowOB2oqvznz7Dn5iSI7SiabqWrbj68bwTLL2jUv0Lvf8X8sJhzmg0Yc8mojM5kmZjEKPzqp1MZVqs7Cr98rdisOXr7lJHquz57YwDV8j3XRb/C7v1vcovD8PwicY8VcISDGY2GDIKKf4mNAoKQZZeXg5aQk5yRml+dgZ2vOpKGraQpp4uhqYKsgKi+H6iln7N8sXG4u7p2s7ykvnyxos/DuMWtyGfKq8fAwd5nzGHN067VUtiv2lbV3GDfY9DhQu7p1pXoU+rr5ODk/j7sSePk9Ub33PlN+4jx8v4JJ/RQQa3EDwzcGFiBLi6AfN4UOGCyXegGjIoh0fisQ0rsD4y+NHjgZFqgB5y2Qfks1UPmEZ0OVLlIcKAAA7')] 
    
  }

  .badge{
    @apply w-fit text-[11px] px-2 rounded-2xl
  }

  .custom-input{
    @apply h-10 w-full py-0 px-[15px] border border-neutral-300 rounded-input-border outline-0 smooth
  }

  .button{
    @apply border h-10 rounded-input-border flex items-center justify-center cursor-pointer smooth
  }

  .select{
    @apply border h-10 rounded-input-border flex items-center cursor-pointer pl-3.75 smooth
  }

  .shade{
    @apply shadow-lg shadow-green-600/30 bg-white
  }

  .hover-shade{
    @apply hover:shadow-lg shadow-green-600/30 hover:bg-white
  }

  .disabled-el {
    @apply bg-gray-200 text-gray-500 opacity-50 cursor-not-allowed pointer-events-none;
  }
}

@utility smooth {
  transition: all 0.3s;
}

@utility mandatory{
  @apply w-fit relative;
  &::after{
    @apply leading-4 content-["*"] text-red-500 text-base absolute top-1 left-[calc(100%+3px)];
  }
}

@utility point-before{
  @apply relative text-xs text-featured-500 inline-flex items-center w-fit;
  &::before{
    @apply p-1 me-1 content-[''] bg-featured-300 rounded-full;
  }
}

@custom-variant point-before {
  &::before{
    @slot;
  }
}

@utility price-before{
  @apply relative inline-flex items-center w-fit;
  &::before{
    @apply inline-flex items-center content-["₹"] text-xs text-gray-500/70;
  }
}

@custom-variant price-before {
  &::before{
    @slot;
  }
}

@utility content-after{
  @apply relative inline-flex items-center w-fit;
  &::after{
    @apply inline-flex items-center content-["₹"] text-gray-500/70;
  }
}

@custom-variant content-after {
  &::after{
    @slot;
  }
}

@utility content-before{
  @apply relative w-fit;
  &::before{
    @apply content-["₹"] text-gray-500/70;
  }
}

@custom-variant content-before {
  &::before{
    @slot;
  }
}
