@theme{
  --font-lato: "Lato", sans-serif;
  --font-spartan: "Spartan", sans-serif;

  --color-primary-25: oklch(0.99 0.0379 140.41);
  --color-primary-50: oklch(0.94 0.0379 157.41);
  --color-primary-200: oklch(90% 0.1065 188.73);
  --color-primary-300: oklch(75% 0.1065 188.73);
  --color-primary-400: oklch(60% 0.1065 188.73);
  --color-primary-500: oklch(45% 0.1065 188.73);
  
  --color-button-text: oklch(97% 0 0);
  --color-error-border: oklch(0.88 0.191 22.216);
  --color-green-screen: oklch(0.72 0.0505 157.41);

  /* status colors */
  --color-status-green: oklch(0.72 0.0505 157.41);
  --color-status-red: oklch(0.72 0.0505 157.41);
  --color-status-orange: oklch(0.72 0.0505 157.41);
  --color-status-yellow: oklch(0.72 0.0505 157.41);
  --color-status-blue: oklch(0.72 0.0505 157.41);

  --radius-input-border: 10px;

}

.text-title{
  @apply font-semibold
}

@utility scroll-none {
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility scroll-basic {
  &::-webkit-scrollbar{
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(76,196,187,0.3);
    transiton: all 0.3s;
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
  }
  &:hover{
    &::-webkit-scrollbar-thumb {
      background-color: rgba(76,196,187,0.6);
    }
  }
}
